%table.zebra-striped
  %thead
    %tr
      %th= t(".id")
      %th= t(".filename")
      %th= t(".filepath")
      %th= t(".backup_at")
      %th
  %tbody
    - files.each_with_index do |file, i|
      %tr
        %td= i + 1
        %td= File.basename file.filepath
        %td= File.dirname file.filepath
        %td= file.backup_at
        %td
          = link_to t(:download), download_admin_backups_path(:path => file.filepath)
          = link_to t(:delete), delete_admin_backups_path(:path => file.filepath)