.page-header
  - if action_name == "index"
    %h2 received_messages
  - elsif action_name ==  "sent"
    %h2 sent_messages
  - elsif action_name ==  "notifications"
    %h2 notifications


.row
  - @messages.each do |message|
    .page-header
      .row
        %p.pull-right
          - if @can_reply
            = link_to t(:reply, :scope => [:web, :page, :message]), [message]
          = link_to t(:delete), [message], :method => :delete, :confirm => t(:delete_confirm)
      .row
        .offset1
          %p
            = message.subject
          %p
            = message.content

  .pagination
    = render 'partials/pagination', :resources => @messages

