.page-header
  %h2
    = @message.subject

.row
  .span10.offset1
    .page-header
      %p.pull-right
        = link_to t(:delete), [@message], :method => :delete, :confirm => t(:delete_confirm)
      %p
        = @message.content

    .page-header
      = simple_form_for(@new_message, :as => :new_message, :url => [:reply, @message], :html => { :method => :put }, :wrapper => :inline) do |f|
        - if f.error_notification
          .alert-message.warning.fade.in(data-alert="alert")
            %a(class="close" href="#") ×
            %p
              = f.error_notification

        = field_set_tag "Reply", :class => 'fieldset-nolabel' do
          = f.input :content, :required => true, :autofocus => true, :wrapper => :nolabel,
                            :input_html => {:rows => 5, :class => :span8}

        .actions
          = f.button :submit, "reply", :class => 'primary'
          = link_to "back_to_inbox", [:messages]

