= simple_form_for(user, :url => sessions_path, :wrapper => :inline) do |f|

  = field_set_tag "" do
    = f.input :login, :required => true, :autofocus => true, :input_html => { :class => "span4" }
    = f.input :password, :required => true, :input_html => { :class => "span4" }
    = f.input :remember_me, :as => :boolean

  .actions
    = f.button :submit, "Sign in", :class => 'primary'
    = button_tag 'Cancel', :type => :reset, :class => "btn"
    %p.pull-right
      /= link_to t("web.topbar.sign_in"), signin_path
      = link_to t("web.topbar.forget_password"), new_reset_password_path
      = link_to t("web.topbar.sign_up"), signup_path

