= simple_form_for(user, :url => sessions_path, :wrapper => :inline) do |f|

  = field_set_tag "" do
    = f.input :login, :required => true, :autofocus => true, :input_html => { :class => "span4" }
    = f.input :password, :required => true, :input_html => { :class => "span4" }
    = f.input :remember_me, :as => :boolean

  .actions
    = f.button :submit,
                t(:sign_in, :scope => [:simple_form, :actions, :submit, :user]),
                :class => 'primary', :disable_with => t(:submitting)
    = button_tag t(:reset), :type => :reset, :class => "btn"
    %p.pull-right
      /= link_to t(:sign_in, :scope => [:web, :topbar]), signin_path
      = link_to t(:forget_password, :scope => [:web, :topbar]), new_reset_password_path
      |
      = link_to t(:sign_up, :scope => [:web, :topbar]), signup_path
