%h2 Sign in
= simple_form_for(@user, :url => sessions_path, :html => { :method => :post }, :wrapper => :inline) do |f|
  - if f.error_notification
    .alert-message.warning.fade.in(data-alert="alert")
      %a(class="close" href="#") ×
      %p
        = f.error_notification

  = field_set_tag "" do
    = f.input :login, :required => true, :autofocus => true, :input_html => { :class => "span4" }
    = f.input :password, :required => true, :autofocus => true, :input_html => { :class => "span4" }
    = f.input :remember_me, :as => :boolean

  .actions
    = f.button :submit, "Sign in", :class => 'primary'
    = button_tag 'Cancel', :type => :reset, :class => "btn"

