.row
  .span8
    = render "partials/repository/link", :repository => repository
  - if action_name == "admin"
    .span6
      = render "partials/repository/back_to_tree", :repository => repository
  - else
    .span3
      = render "partials/repository/manage", :repository => repository
    .span3
      = render "partials/repository/reverse_watch", :repository => repository
      = render "partials/repository/fork", :repository => repository

  .span2
    = render "partials/repository/count_link", :repository => repository

%br
.page-header

