%section
  .row
    .span12
      %h3
        = repository_link_full(repository)
    .span4.right
      - if action_name == "admin"
        = link_to t(".back_to"),
                  user_repository_path(current_user.username, repository.name),
                  :class => "btn small primary"
      - else
        - if logged_in?
          - if owner?(repository)
            = link_to t(".manage"),
                  admin_user_repository_path(current_user.username, repository.name),
                  :class => "btn small primary"
          - else
            = repository_reverse_watch_link(repository)
            = repository_fork_link(repository)
        - else
          - [ t("repositories.helper.watch"),
              t("repositories.helper.fork")].each do |text|
            = link_to text,
                      "javascript:void(0);",
                      :class => "btn small",
                      :rel => "twipsy",
                      :data => { :backdrop => 'true', :controls_modal => "modal-sign-in", :keyboard => 'true',
                                  :original_title => t(:require_sign_in), :placement => :below}

        = nbsp(4)
        = repository_watchers_count_link(repository)
        = repository_forks_count_link(repository)

.page-header

- content_for :modal do
  = render_cell "bootstrap_::_controls_modal", :sign_in