.row
  - @repositories.each do |repository|
    .page-header
      .row
        .span12
          %p
          .row
            = render "partials/repository/link", :repository => repository
          %p
          .row
            = repository.describtion
        .span2
          = render "partials/repository/count_link", :repository => repository
        .span2
          = render "partials/repository/reverse_watch", :repository => repository

  = render 'partials/pagination', :resources => @repositories

