
= render "users/head", :user => @user

%section
  .page-header
    %h3= t(".repositories", :username => @user.username)
  .row
    .span16
      - if @q
        = search_form_for @q, :url => user_repositories_path(@user.username) do |f|
          .row
            .span14
              .row
                .span7.clearfix
                  = f.label :name, :class => "span2"
                  = f.text_field :name_cont, :class => "span4"
                .span7.clearfix
                  = f.label :visibility, :class => "span2"
                  = f.select :visibility_eq, Repository.get_visibility_values, :prompt => true, :class => "span4"
            .span2
              = f.submit t(:to_search), :class => "btn primary"
      
      - if @repositories.present?
        = render @repositories
      - else
        = collection_empty(:repositories)

      = render 'partials/pagination', :resources => @repositories

