%h2 Repositories
.row
  - @repositories.each do |repository|
    .page-header
      .row
        .span12
          %p
          .row
            = render "partials/repository_link", :repository => repository
          %p
          .row
            = repository.describtion
        .span2
          = render "partials/repository_count", :repository => repository
        .span2
          = render "partials/reverse_watch_repository", :repository => repository

.pagination
  = render 'paginator'

