%section
  .row
    .span12
      = t(".parent_category")
      = link_to t(".all_parent_category"), "" 
      - Category.parents.each do |parent_category|
        = parent_category


      - if @repositories.present?
        = render @repositories, :link_full => true
      - else
        = collection_empty(:repositories)
      = render 'partials/pagination', :resources => @repositories
    .span4.center
      %h1
        = render_cell :repositories, :new_link