%section
  .row
    .span12
      - if @category.present?
        .col-class
          %h5
            %strong= @parent_category.name
          %ul.clear
            - @parent_category.children.each do |child_category|
              - if !@category.parent? and @category == child_category
                %li.cur= child_category.name
              - else
                %li= link_to child_category.name, repositories_path(:category => child_category.name)
      - else
        .col-class
          %h5
            %strong= t(".all")
          %ul.clear
            - Category.parents.each do |parent_category|
              %li= link_to parent_category.name, repositories_path(:category => parent_category.name)

      - if @repositories.present?
        = render @repositories, :link_full => true
      - else
        = collection_empty(:repositories)
      = render 'partials/pagination', :resources => @repositories
    .span4.center
      %h1
        = render_cell :repositories, :new_link