- if current_user.watching_repository? @repository
  = raw %Q`$("[data-repository-reverse-watch-#{@repository.id}]").html(I18n.t("web.page.unwatch_repository"))`
- else
  = raw %Q`$("[data-repository-reverse-watch-#{@repository.id}]").html(I18n.t("web.page.watch_repository"))`

= raw %Q`$("[data-repository-watchers-count-#{@repository.id}]").html("#{@repository.watchers_count}")`

