%section
  .row
    .span12
      .note
        %span.label.notice= t(:notice)
        = raw t(".use_help", :url => (link_to tagged_repositories_url("tag1+tag2"),tagged_repositories_url("tag1+tag2")))

      %br

      - if @repositories.present?
        = render @repositories, :link_full => true
      - else
        = collection_empty(:repositories)
      = render 'partials/pagination', :resources => @repositories
    .span4.center
      %h1
        = render_cell :repositories, :new_link