= render "head", :repository => @repository

%section
  .page-header
    = @repository.describtion
  
  %table.zebra-striped
    %thead
      %tr
        %th(width="3%")
        %th(width="77%")
        %th(width="20%")
    %tbody
      - @contents.each do |content|
        %tr
          %td
            - if content.is_a?(Grit::Blob)
              .icon.file_type_txt
            - elsif content.is_a?(Grit::Tree)
              .icon.file_type_dir
          %td
            - if content.is_a?(Grit::Blob)
              = link_to content.name, blob_user_repository_path(@user.username, @repository.name, content.name)
            - elsif content.is_a?(Grit::Tree)
              = link_to content.name, tree_user_repository_path(@user.username, @repository.name, content.name)
          %td
            = content



