= render "head", :repository => @repository

%section
  .page-header
    = @repository.describtion
  
  = render "paths_link", :paths => @paths, :repository => @repository

  %table.zebra-striped
    %thead
      %tr
        %th(width="3%")
        %th(width="72%")
        %th(width="25%")
    %tbody
      - @contents.each_with_index do |content, index|
        %tr
          %td
            - if content.is_a?(Grit::Blob)
              .icon.file_type_txt
            - elsif content.is_a?(Grit::Tree)
              .icon.file_type_dir
          %td
            - if content.is_a?(Grit::Blob)
              = link_to content.basename, blob_user_repository_path(@user.username, @repository.name, content.name)
            - elsif content.is_a?(Grit::Tree)
              = link_to content.basename, tree_user_repository_path(@user.username, @repository.name, content.name)
          %td
            = l @contents_latest_commit[index].date, :format => :long



