= simple_nested_form_for([:admin, resource], :wrapper => :inline) do |f|

  = field_set_tag "" do
    - if resource.new_record?
      .row
        .span8
          = f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
    - else
      .row
        .span8
          = f.input :username, :input_html => { :class => "span4 disabled", :disabled => :disabled }
    .row
      .span12
        = f.input :category_id do
          = f.input_field :category_ancestor_id, :collection => Category.ancestor_categories.map{|x| [x.name, x.id]},
                                                  :class => "span4", :data => {:category_id_ancestor_select => true}
          = f.input_field :category_id, :collection => @repository.get_category_values(),
                                                  :class => "span4", :data => {:category_id_select => true},
                                                  :prompt => t(".select_options_category_id")
    .row
      .span8
        = f.input :name, :input_html => { :class => "span4" }
    
    .row
      .span12
        = f.input :describtion, :input_html => { :class => "span8", :rows => 4 }

    .row
      .span14
        = f.simple_fields_for :repo_files do |f_repo_files|
          - if f_repo_files.object.new_record?
            = f_repo_files.input :repo_file
          - else
            = f_repo_files.input :repo_file, :wrapper => :prepend do
              = content_tag :label, :class => "add-on" do
                = link_to f_repo_files.object.repo_file, [:download_repo_file, :admin, resource, f_repo_files.object]
            = f_repo_files.link_to_remove t(".remove_repo_file")
        = f.link_to_add t(".add_repo_file"), :repo_files
  
  .actions
    = f.button :submit, :class => 'primary', :disable_with => t(:submitting)
    = button_tag t(:reset), :type => :reset, :class => "btn"
