%div{:id => comment.html_anchor}
  .page-header
    .row
      .span5
        = link_to comment.username, user_page_path(comment.username)
        = t(:commented_at)
        = l comment.created_at, :format => :long
      .span5.right
        - if owner?(comment)
          = link_to t(:edit), [:edit, comment.commentable, comment], :title => t(:edit)
        = link_to t(:permalink), "##{ comment.html_anchor }"
  .row
    .span10
      = comment.content
  %br