- if logged_in?
  = simple_form_for(comment, :url => [comment.commentable, comment], :wrapper => :inline) do |f|
    = render "partials/simple_form_error_notification", :f => f

    = field_set_tag "" do
      = f.input :content, :wrapper => :comment do
        = f.input_field :content, :class => "span8", :rows => 3

    .actions
      = f.button :submit, :class => 'primary', :disable_with => t(:submitting)

- else
  = t(:comment_require_sign_in)
  = link_to t("shared.topbar.sign_in"), signin_path(:ok_url => request.path)


