- url = [comment.commentable, comment]

= simple_form_for(comment, :url => url, :wrapper => :inline) do |f|
  = render "partials/simple_form_error_notification", :f => f

  = field_set_tag "" do
    = f.input :content, :input_html => { :class => "span6", :rows => 3 }

  .actions
    = f.button :submit, :class => 'primary', :disable_with => t(:submitting)
