%section#search
  .page-header
    %h3
      = t(".repositories")
      = "(#{repositories.total_entries})"
  - repositories.each do |repository|
    - next if repository.blank?
    %p
      %h4= repository_link_full(repository)
    %p
      = raw repository.excerpts.describtion
    %p
      %em
        = t(:updated_at) << ":" << l(repository.updated_at, :format => :long_only_date)
    %p
      = ta(Repository, :tag_list)
      - repository.tag_list.each do |tag|
        = link_to tag, tagged_repositories_path(tag), :class => "btn primary small"