%section#search
  .page-header
    %h3
      = t(".repositories")
      = "(#{repositories.total_entries})"
  - repositories.each do |repository|
    - next if repository.blank?
    %p
      %h4= repository_link_full(repository)
    %p
      = raw repository.excerpts.describtion
    %p
      = render "partials/repository/detail", :repository => repository
