%section#search
  .page-header
    %h3
      = t(".users")
      (
      = users.total_entries
      )
  - users.each do |user|
    - next if user.blank?
    .row
      .span-one-ten.user_avatar
        = link_to (image_tag user.gravatar_url(:size => 48)), user_page_path(user)
      .span5.title
        %h4
          = link_to (user.username), user_page_path(user)
          \--
          = user.name
    .row
      .span7.details
        %em
          = [t(:"users.count_link.followers"), user.followers_count].join(":")
          |
          = [t(:"users.count_link.public_repositories"), user.public_repositories_count].join(":")
          |
          = [ta(User, :location), user.location].join(":")