= render "head", :search => @search

%section
  .row
    .span9
      
        = render "repositories", :repositories => @repositories
      %p.pull-right
        = link_to t(:more), search_path("search[type]" => :repositories, "search[q]" => @search.q)
    .span7
      = render "users", :users => @users
      %p.pull-right
        = link_to t(:more), search_path("search[type]" => :users, "search[q]" => @search.q)