.row
  .span14.offset1
    #jquery_fileupload_repo
      = simple_form_for(url, :wrapper => :inline) do |f|
        = hidden_field_tag :format, 'json'
                      
        .row
          .span16.fileupload-buttonbar
            .progressbar.fileupload-progressbar
              %div{:style => "width:0%;"}
            %span.btn.success.fileinput-button
              %span= t(".add_files")
              %input{:multiple => "", :name => "files[]", :type => "file"}
            %button.btn.primary.start{:type => "submit"}= t(".start_upload_files")
            %button.btn.info.cancel{:type => "reset"}= t(".cancel_files")
            %button.btn.danger.delete{:type => "button"}= t(".delete_choised_files")
            %input.toggle{:type => "checkbox"}
        
        %br
          .row
            .span16
              %table.zebra-striped
                %tbody.files


- content_for :javascript do
  = render "partials/jquery_fileupload_tmpl_new"