.page-header
  .row
    .span14.offset1
      #jquery_fileupload_repo
        = simple_form_for(@repo_file, :url => account_repository_repo_files_path(@repository, :format => 'json'), :wrapper => :inline) do |f|
          .row
            .span8
              .fileinput-button
                /%span #{ t("add_files", :scope => [:web, :page]) }

                = f.input_field :repo_file, :as => :file, :class => "span1"
            .span6
              .fileupload-buttonbar
                %button.start{:type => "submit"} #{ t("start_upload_files", :scope => [:web, :page]) }
                %button.cancel{:type => "reset"} #{ t("cancel_files", :scope => [:web, :page]) }
                %button.delete{:type => "button"} #{ t("delete_choised_files", :scope => [:web, :page]) }


        .fileupload-content
          %table.files

          .fileupload-progressbar


= content_for :javascript do
  = render "partials/jquery_fileupload_tmpl"

  :javascript

    $(function() {
      // Initialize the jQuery File Upload widget
      $('#jquery_fileupload_repo').fileupload({
        done: function (e, data) {
          var that = $(this).data('fileupload');
          if (data.context) {
            data.context.each(function (index) {
              var file = ($.isArray(data.result) &&
                data.result[index]) || {error: 'emptyResult'};
              if (file.error) {
                that._adjustMaxNumberOfFiles(1);
              }
              $(this).fadeOut(function () {
                that._renderDownload([file])
                .css('display', 'none')
                .replaceAll(this)
                .fadeIn(function () {
                  $(this).show();
                });
              });
            });
          }
        }

      });

      // Set jQuery File Upload options
      $('#jquery_fileupload_repo').fileupload('option', {
        maxFileSize: 1000000000000,
        acceptFileTypes: /(\.|\/)(txt)$/i,
        sequentialUploads: true
      });

      // Load existing files:
      $.getJSON($('#jquery_fileupload_repo form').prop('action'), function (files) {
        var fu = $('#jquery_fileupload_repo').data('fileupload');
        fu._adjustMaxNumberOfFiles(-files.length);
        fu._renderDownload(files)
          .appendTo($('#jquery_fileupload_repo .files'))
          .fadeIn(function () {
            // Fix for IE7 and lower:
            $(this).show();
          });
      });

      $('#fileupload .files a:not([target^=_blank])').live('click', function (e) {
        e.preventDefault();
        $('<iframe style="display:none;"></iframe>')
        .prop('src', this.href)
        .appendTo('body');
      });

    });

