/ repository

- if logged_in?
  - if current_user.watching_repository?(repository)
    = link_to t("web.page.unwatch_repository"),
              user_repository_reverse_watch_path(repository.username, repository.name),
              :method => :put,
              :remote => true
  - else
    = link_to t("web.page.watch_repository"),
              user_repository_reverse_watch_path(repository.username, repository.name),
              :method => :put,
              :remote => true

  = link_to t("web.page.fork_repository"),
              user_repository_fork_path(repository.username, repository.name),
              :method => :put

- else
  = link_to t("web.page.watch_repository"),
            user_repository_reverse_watch_path(repository.username, repository.name),
            :method => :put,
            :remote => true

  = link_to t("web.page.fork_repository"),
            user_repository_fork_path(repository.username, repository.name),
            :method => :put

