
= show_for resource do |message|
  = message.attributes :id, :is_readed
  = message.attribute :sender_username do
    = link_to resource.username, [:admin, resource.sender]
  = message.attribute :receiver_username do
    = link_to resource.receiver_username, [:admin, resource.receiver]
  = message.attributes :subject, :content
  = message.attribute :created_at do
    = l resource.created_at
  = message.attribute :updated_at do
    = l resource.updated_at
