= search_form_for [:admin, q] do |f|
  .row
    .span14
      .row
        .span5.clearfix
          = label_tag ta(resource_class, :sent_messageable_username), nil, :class => "span2"
          = f.text_field :sent_messageable_username_cont, :class => "span3", :data => {:autocomplete_user => true}
        .span5.clearfix
          = f.label ta(resource_class, :received_messageable_username), :class => "span2"
          = f.text_field :received_messageable_username_cont, :class => "span3", :data => {:autocomplete_user => true}
      .row
        .span5.clearfix
          = f.label :topic, :class => "span2"
          = f.text_field :topic_cont, :class => "span3"
        .span5.clearfix
          = f.label :body, :class => "span2"
          = f.text_field :body_cont, :class => "span3"
      .row
        .span12.clearfix
          = f.label :created_at, :class => "span2"
          = f.text_field :created_at_gt, :class => "small", :data => {:date => true}
          &#8254;&#8254;&#8254;
          = f.text_field :created_at_lt, :class => "small", :data => {:date => true}
    .span2
      = f.submit t(:to_search), :class => "btn primary"

%table.zebra-striped
  %thead
    %tr
      %th= sort_link q, :id
      %th= sort_link q, :sender_username, ta(resource_class, :sent_messageable_username)
      %th= sort_link q, :receiver_username, ta(resource_class, :received_messageable_username)
      %th= sort_link q, :topic
      %th= sort_link q, :created_at
      %th
  %tbody
    - collection.each do |message|
      %tr
        %td= message.id
        %td= message.username
        %td= message.receiver_username
        %td= message.topic
        %td= time_ago message.created_at
        %td
          = link_to t(:show), [:admin, message], :title => t(:show)
          = link_to t(:edit), [:edit, :admin, message], :title => t(:edit)
          = link_to t(:delete), [:delete, :admin, message], :title => t(:delete)
