= simple_form_for([:admin, resource], :wrapper => :inline) do |f|

  = field_set_tag "" do
    - if resource.new_record?
      .row
        .span8
          = f.input :sent_messageable_id, :as => :hidden, :input_html => { :value => current_user.id }
          = f.input :sent_messageable_type, :as => :hidden, :input_html => { :value => current_user.class.name }
      .row  
        .span8
          = f.input :receiver_username_post, :required => true, :autofocus => true,
                      :input_html => { :class => "span4", :data => {:autocomplete_user => true} }
    - else
      .row
        .span8
          = f.input :sender_username, :input_html => { :class => "span4 disabled", :disabled => :disabled }
      .row  
        .span8
          = f.input :receiver_username, :input_html => { :class => "span4 disabled", :disabled => :disabled }
      .row
      .span8
        = f.input :opened, :as => :select

    .row
      .span12
        = f.input :topic, :input_html => { :class => "span8" }
    .row
      .span12
        = f.input :body, :input_html => { :class => "span8", :rows => 4 }
  
  .actions
    = f.button :submit, :class => 'primary', :disable_with => t(:submitting)
    = button_tag t(:reset), :type => :reset, :class => "btn"
