.row
  .span14
    %p.pull-right
      = link_to t(:edit), edit_admin_site_config_path, :class => "btn primary"
      = link_to t(:reinitialize), reinitialize_admin_site_config_path,
                :method => :post, :class => "btn primary",
                :confirm => t(:confirm)

%table.zebra-striped
  %thead
    %tr
      %th= ta(SiteConfig, :key)
      %th= ta(SiteConfig, :value)
  %tbody
    - @site_config.class.settings_attrs.each do |settings_attr|
      %tr
        %td= ta(SiteConfig, settings_attr)
        %td= @site_config.send settings_attr