.row
  .span14
    %p.pull-right
      = link_to t(:edit), [:edit, :admin, @site_configs], :class => "btn primary"

%table.zebra-striped
  %thead
    %tr
      %th= ta(SiteConfig, :key)
      %th= ta(SiteConfig, :value)
  %tbody
    - @site_configs.class.settings_attrs.each do |settings_attr|
      %tr
        %td= ta(SiteConfig, settings_attr)
        %td= @site_configs.send settings_attr