.row
  .span12
    %p
      = link_to (image_tag user.gravatar_url(:size => 48), :class => "gravatar"),
                "http://gravatar.com/emails/"
  .span4
    - if logged_in?
      - if me?(user)
        = render_cell :profile, :edit_link
      - else
    - else

    = render "partials/user/send_email", :user => user
    = render "partials/user/send_message", :user => user
    = render "partials/user/reverse_follow", :user => user

- content_for :popover do
  = render_cell "bootstrap_::_twipsy_title", :change_gravatar

.page-header

