.row
  .span4
    %h1
      - if logged_in? and me?(user)
        = link_to (image_tag user.gravatar_url(:size => 48), :class => "gravatar"),
                  user_page_path(user), :data => {:twipst_change_gravatar => true}
      - else
        = link_to (image_tag user.gravatar_url(:size => 48), :class => "gravatar"),
                    user_page_path(user)
      = link_to user.username, user_page_path(user)
  .span10.right
    - if logged_in?
      - if me?(user)
        = render_cell :profile, :edit_link
      - else
        = mail_to user.email,
              t(".send_email"),
              :class => "btn small primary"

        = link_to t(".send_message"),
              new_account_message_path(:receiver_username => user.username),
              :class => "btn small primary"

        = render "partials/user/reverse_follow", :user => user

    - else
      - [ t(".send_email"), t(".send_message"), t(".follow")].each do |text|
        = link_to text,
                  "javascript:void(0);",
                  :class => "btn small",
                  :rel => "twipsy",
                  :data => { :backdrop => 'true', :controls_modal => "modal-sign-in", :keyboard => 'true',
                              :original_title => t(:require_sign_in), :placement => :below}

- content_for :popover do
  = render_cell "bootstrap_::_twipsy_title", :change_gravatar
- content_for :modal do
  = render_cell "bootstrap_::_controls_modal", :sign_in

.page-header

