.row
  .span4
    %h1
      .row
        .span-one-ten.user_avatar
          - if logged_in? and me?(user)
            = link_to (image_tag user.gravatar_url(:size => 48), :class => "gravatar"),
                      user_page_path(user), :data => {:twipst_change_gravatar => true}
            - content_for :popover do
              = render_cell "bootstrap_::_twipsy_title", :change_gravatar
              
          - else
            = link_to (image_tag user.gravatar_url(:size => 48), :class => "gravatar"),
                        user_page_path(user)
        .span2
          = link_to user.username, user_page_path(user)
  .span10.right
    - if logged_in?
      - if me?(user)
        = render_cell :profile, :edit_link
      - else
        = link_to t(".send_message"),
              new_account_message_path(:receiver_username => user.username),
              :class => "btn small primary"

        = user_reverse_follow_link(user)

    - else
      = modal_sign_in_link_with(t(".send_message"))
      = modal_sign_in_link_with(t("users.helper.follow"))
      - content_for :modal do
        = render_cell "bootstrap_::_controls_modal", :sign_in




.page-header

