.row
  .span12
    %p
      = user.username
  .span4
    = render "partials/user/edit_profile", :user => user
    = render "partials/user/send_email", :user => user
    = render "partials/user/send_message", :user => user
    = render "partials/user/reverse_follow", :user => user

%br
.page-header

