%h2 Edit your profile
= simple_form_for(@user, :url => user_path(@user), :html => { :method => :put }, :wrapper => :inline) do |f|
  - if f.error_notification
    .alert-message.warning.fade.in(data-alert="alert")
      %a(class="close" href="#") ×
      %p
        = f.error_notification

  = field_set_tag "" do
    = f.input :email, :input_html => { :class => "span4" }
    = f.input :username, :required => true, :autofocus => true, :input_html => { :class => "span4" }
    = f.input :name, :input_html => { :class => "span4" }
    = f.input :site, :input_html => { :class => "span4" }
    = f.input :company, :input_html => { :class => "span4" }
    = f.input :location, :input_html => { :class => "span4" }

  .actions
    = f.button :submit, "Update", :class => 'btn primary', "data-loading-text" => "loading..."
    = button_tag 'Cancel', :type => :reset, :class => "btn"

