%h2 Edit your
= simple_form_for(@user, :url => user_path(@user), :html => { :method => :put }) do |f|
  = f.error_notification
  .inputs
    = f.input :email
    = f.input :username, :required => true, :autofocus => true
    = f.input :name
    = f.input :site
    = f.input :company
    = f.input :location
  .actions
    = f.button :submit, "Update"

