= render "head", :user => @user

%section
  .row
    .span9
      .page-header
        %h3= t(".following_users", :username => @user.username)
      .row
        .span9
          = render :partial => 'user_by_follow', :collection => @following_users, :as => :user
          = render 'partials/pagination', :resources => @following_users
    
    .span6.offset1
      .page-header
        %h3= t(".following_repositories", :username => @user.username)
      .row
        .span6
          - @watching_repositories.each do |watching_repository|
            .page-header
              .row
                .span6
                  %p
                    = repository_link_full(watching_repository)

          = render 'partials/pagination', :resources => @watching_repositories


