.row
  %p.pull-right
    = t(".count_info", :count => User.count) 

%section#activity_users
  .page-header
    %h4
      = t(".activity_users")
  = render_cell :users, :activity

%br
%br

%section#recent_join_users
  .page-header
    %h4
      = t(".recent_join_users")
  = render_cell :users, :recent_join