.page-header
  %h2 Sign up
= simple_form_for(@user, :url => users_path, :wrapper => :inline, :validate => false) do |f|
  - if f.error_notification
    .alert-message.warning.fade.in(data-alert="alert")
      %a(class="close" href="#") ×
      %p
        = f.error_notification

  = field_set_tag "" do
    = f.input :username, :required => true, :autofocus => true, :input_html => { :class => "span4" }
    = f.input :email, :required => true, :autofocus => true, :input_html => { :class => "span4" }
    = f.input :password, :required => true, :input_html => { :class => "span4" }
    = f.input :password_confirmation, :required => true, :input_html => { :class => "span4" }

  .actions
    = f.button :submit, "Sign in", :class => 'primary', :data => {:disable_with => "Sign in ..."}
    = button_tag 'Cancel', :type => :reset, :class => "btn"
    %p.pull-right
      = link_to t("web.topbar.sign_in"), signin_path
      = link_to t("web.topbar.forget_password"), new_reset_password_path
      /= link_to t("web.topbar.sign_up"), signup_path

