%h2 Edit your password
= simple_form_for(@user, :url => password_update_user_path(@user), :html => { :method => :put }) do |f|
  = f.error_notification
  .inputs
    = f.input :password, :hint => "leave it blank if you don't want to change it", :required => true
    = f.input :password_confirmation, :required => true
    = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
  .actions
    = f.button :submit, "Update"

