- if @follow
  = raw %Q`$("[data-user-reverse-follow-#{@target_user.id}]").button('followComplete')`
- else
  = raw %Q`$("[data-user-reverse-follow-#{@target_user.id}]").button('unfollowComplete')`

= raw %Q`$("[data-user-followers-count-#{@target_user.id}]").text("#{@target_user.followers_count}")`

