- if @follow
  = raw %Q`$("[data-user-reverse-follow-#{@user.id}]").button('followComplete')`
- else
  = raw %Q`$("[data-user-reverse-follow-#{@user.id}]").button('unfollowComplete')`

= raw %Q`$("[data-user-followers-count-#{@user.id}]").text("#{@user.followers_count}")`

