= render "head", :user => @user

.page-header
  .row
    .span8
      = render "partials/user/details", :user => @user
    .span8
      %p
        = render "partials/user/count_link", :user => @user
      %br
      %p
        = render "partials/user/following_link", :user => @user

%br
.page-header
  .row
    .span8
      .page-header
        %h3= t(".latest_public_repositories", :username => @user.username)
      .row
        .span8
          - @latest_public_repositories.each do |repository|
            .row
              .span8
                .page-header
                  %p.pull-right
                    = render "partials/repository/count_link", :repository => repository
                  %h4
                    = render "partials/repository/link_only_name", :repository => repository
                .page-header
                  = repository.describtion
                %em
                  = t(:updated_at)
                  = l repository.updated_at, :format => :long_only_date
                %br
                %br

        %p.pull-right
          = link_to t(:more), user_public_repositories_path(@user)
  
    .span7.offset1
      .page-header
        %h3= t(".latest_activities", :username => @user.username)
      .row
        .span7
          - @latest_activities.each do |activity|
            %br
            .page-header
              = render "partials/activity_display", :activity => activity
