= render "head", :user => @user

%section
  .row
    .span8
      = render "partials/user/details", :user => @user
    .span7.offset1
      %p
        = render "partials/user/count_link", :user => @user
      %br
      %p
        = render "partials/user/following_link", :user => @user

.page-header

%section
  .row
    .span8
      .page-header
        %h3= t(".latest_repositories", :username => @user.username)
      .row
        .span8
          = render @latest_repositories

        %p.pull-right
          = link_to t(:more), user_repositories_path(@user)
  
    .span7.offset1
      .page-header
        %h3= t(".latest_activities", :username => @user.username)
      .row
        .span7
          = render @latest_activities
