= render "head", :user => @user

.page-header
  .row
    .span8
      = render "partials/user/details", :user => @user
    .span8
      %p
        = render "partials/user/count_link", :user => @user
      %br
      %p
        = render "partials/user/following_link", :user => @user

%br
.page-header
  .row
    .span9
    .span7
      - @new_activities.each do |activity|
        %br
        .page-header
          = render "partials/activity_display", :activity => activity

