%header.master
  .topbar{"data-dropdown" => "dropdown"}
    .topbar-inner
      .container
        %h3
          = link_to Settings.project.name, root_path
        %ul.nav.secondary-nav
          %form.pull-left{:action => ""}
            %input{:placeholder => "Search", :type => "text"}

          - if logged_in?
            %li
              = link_to t("web.topbar.dashboard"), dashboard_path
            %li
              - if current_user.unread_system_notifications_count > 0
                = link_to t("web.topbar.inbox") + "(" + current_user.unread_system_notifications_count.to_s + ")",
                          [:notifications, :messages]
              - elsif current_user.unread_member_mailboxs_count > 0
                = link_to t("web.topbar.inbox") + "(" + current_user.unread_member_mailboxs_count.to_s + ")",
                          [:messages]
              - else
                = link_to t("web.topbar.inbox") + "(" + 0.to_s + ")",
                          [:messages]
            %li
              = link_to t("web.topbar.account_settings"), account_root_path
            %li
              = link_to current_user.username, account_root_path
            %li
              = link_to t("web.topbar.sign_out"), signout_path
          - else
            %li
              = link_to t("web.topbar.sign_up"), signup_path
            %li
              = link_to t("web.topbar.forget_password"), new_reset_password_path
            %li
              = link_to t("web.topbar.sign_in"), signin_path

%h1 .

