
.row
  - if logged_in?
    - if me?(user)
      .span2
        %a{ :href => account_repositories_path }
          %h1
            = user.private_repositories_count
          %span
            = t(".private_repositories")

  .span2
    %a{ :href => user_repositories_path(user.username) }
      %h1
        = user.public_repositories_count
      %span
        = t(".public_repositories")

  .span2
    %a{ :href => user_followers_path(user.username) }
      %h1{"data-user-followers-count-#{user.id}" => true}
        = user.followers_count
      %span
        = t(".followers")

