
= show_for resource do |post|
  = post.attributes :id
  = post.attribute :issuer do
    = link_to resource.username, [:admin, resource.user]
  = post.attributes :title, :permalink
  = post.attribute :content do
    = raw resource.content
  = post.attribute :is_top do
    = resource.is_top_text
  = post.attribute :category do
    = resource.category_text

  = post.attribute :created_at do
    = l resource.created_at
  = post.attribute :updated_at do
    = l resource.updated_at
  
    