.span9
  - @new_activities.each do |activity|
    %br
    .page-header
      = render "partials/activity_display", :activity => activity

.span6.offset1
  .row
    .span5.offset1
      = link_to "new repository", [:new, :repository], :class => "btn large primary disabled"

  %br
  .page-header
    %h1
      = "your repositories"
  .row
    - @repositories.each do |repository|
      .page-header
        .row
          .span3
            = render "partials/repository_link", :repository => repository
          .span2
            = render "partials/repository_count_link", :repository => repository

  %br
  .page-header
    %h1
      = "watching repositories"
  .row
    - @watching_repositories.each do |repository|
      .page-header
        .row
          .span3
            = render "partials/repository_link", :repository => repository
          .span2
            = render "partials/repository_count_link", :repository => repository

