%section
  .row
    .span4.offset12
      .row.center
        %h1
          = render_cell :repositories, :new_link

  .row
    .span8
      %section
        .page-header
          %h1
            = t("account.shared.navigation.about_me_activities")
        - @about_me_activities.each do |activity|
          %br
          .page-header
            = render "partials/activity_display", :activity => activity
        %p.pull-right
          = link_to t(:more), [:about_me, :account, :activities]
    
    .span7.offset1  
      %section
        .page-header
          %h1
            = t(".watching_repositories")
        - @watching_repositories.each do |repository|
          .page-header
            .row
              .span5
                = render "partials/repository/link", :repository => repository
              .span2.right
                = render "partials/repository/count_link", :repository => repository

