%section
  .row
    .span4.offset12
      .row.center
        %h1
          = render_cell :repositories, :new_link

  .row
    .span8
      %section
        .page-header
          %h1= t("account.shared.navigation.about_me_activities")
        = render :partial => "activities/activity", :collection => @about_me_activities, :as => :activity
        %p.pull-right
          = link_to t(:more), [:about_me, :account, :activities]
    
    .span7.offset1  
      %section
        .page-header
          %h1= t(".watching_repositories")
        = render :partial => "repositories/repository_by_watch", :collection => @watching_repositories,
                                                                  :as => :repository

