%section
  .row
    .span4.center
      %h1
        = link_to t(".new"), [:new, :feedback]
        
    .span12
      - @feedbacks.each do |feedback|
        .page-header
          .row
            .span12
              %p
                = feedback.body
              - if feedback.result?
                %p
                  = nbsp(4) << ta(Feedback, :result) << ": " << feedback.result
                %p
                  = nbsp(4) << ta(Feedback, :handle_at) << ": " << l(feedback.handle_at, :format => :long)
              %p
                %em
                  = [t(:created_at), l(feedback.created_at, :format => :long_only_date)].join(":")
                  |
                  = [ta(Feedback, :username), feedback.username].join(":")
                  |
                  = [ta(Feedback, :state), feedback.state_text].join(":")

      = render 'partials/pagination', :resources => @feedbacks
    