
= show_for resource do |category|
  = category.attributes :id, :name, :code
  = category.attribute :parent_id do
    = resource.parent.name
  = category.attribute :created_at do
    = l resource.created_at
  = category.attribute :updated_at do
    = l resource.updated_at