%section
  .page-header
    %h2= link_to post.is_top? ? t(:is_top) << post.title : post.title, [post]
    .row
      .span4
        = link_to t(".comments_size", :size => post.comments_count), post_path(post) << "#comments"
      .span5.right
        = ta(Post, :issuer) << ":"
        = link_to post.username, user_page_path(post.user)
        = nbsp(4)
        = l post.updated_at, :format => :long
  
  .row
    .span10
      - if action_name == "index"
        = raw truncate(post.content, :length => 200, :omission => (link_to t(:more_truncate), [post]))
      - else
        = raw post.content
  %br
  %br