%section#post
  .row
    .span10
      = render @post
      
      .page-header
      %br
      %br
      .row#comments
        .span10
          %h4= t(".comments_size", :size => @post.comments_count)
          = render @comments
      %br
      = render "comments/form", :comment => @comment

    = render "right_bar"