%section#post
  .row
    .span10
      .page-header
        %h2= link_to @post.title, [@post]
        .row
          .span4
            = link_to @post.comments_count.to_s << " comments", post_path(@post) << "#comments"
          .span5.right
            = ta(Post, :issuer) << ":"
            = link_to @post.username, user_page_path(@post.user)
            = nbsp(4)
            = l @post.updated_at, :format => :long
      .row
        .span10
          = @post.content
      
      .page-header
      %br
      %br
      .row#comments
        .span10
          %h4= @post.comments_count.to_s << " comments"
          = render "comments/entries", :comments => @comments
      %br
      = render "comments/form", :comment => @comment

    = render "right_bar"