
= show_for resource do |user|
  = user.attributes :id, :username, :email, :name, :site, :company, :location, :state_text
  = user.association :roles do |role|
    = link_to role.name, [:admin, role]
    = raw " | "