%table.zebra-striped
  %thead
    %tr
      %th
        = sort_link @q, :id
      %th
        = sort_link @q, :username
      %th
        = sort_link @q, :email
      %th
        = sort_link @q, :name
      %th
        = sort_link @q, :created_at
      %th
        = sort_link @q, :updated_at
      %th
  %tbody
    - collection.each do |user|
      %tr
        %td
          = user.id
        %td
          = user.username
        %td
          = user.email
        %td
          = user.name
        %td
          = time_ago user.created_at
        %td
          = time_ago user.updated_at
        %td
          = link_to t(:show), [:admin, user], :title => t(:show)
          = link_to t(:edit), [:edit, :admin, user], :title => t(:edit)
          = link_to t(:delete), [:delete, :admin, user], :title => t(:delete)