.page-header
  %h2
    = @message.topic

.row
  .span16
    = raw t(".sent_info", :sender => message_sender_link(@message), :receiver => message_receiver_link(@message),
                      :send_time => l(@message.created_at, :format => :long) )

.row.right
  = link_to t(:delete), [:account, @message], :method => :delete, :confirm => t(:delete_confirm)

%br

.row
  .span16
    = raw @message.body

    - if @message.can_reply?(current_user)
      = render "form_reply", :message => @message, :new_message => @new_message

