%h2 Change your password

= simple_form_for(@user, :url => reset_password_path(@user), :wrapper => :inline) do |f|

  = render "partials/simple_form_error_notification", :f => f

  = field_set_tag "" do
    = f.input :reset_password_token, :as => :hidden
    = f.input :email, :required => true, :autofocus => true, :input_html => { :class => "span4" }
    = f.input :password, :required => true, :input_html => { :class => "span4" }
    = f.input :password_confirmation, :required => true, :input_html => { :class => "span4" }

  .actions
    = f.button :submit, t(:reset_password, :scope => [:simple_form, :actions, :submit, :user]),
                        :class => 'primary', :disable_with => t(:submitting)
    = button_tag t(:reset), :type => :reset, :class => "btn"

