= simple_form_for(@user, :url => reset_passwords_path, :html => { :method => :post }, :wrapper => :inline) do |f|

  = field_set_tag "" do
    = f.input :email, :required => true, :autofocus => true, :input_html => { :class => "span4" }

  .actions
    = f.button :submit, t(:send_me_reset_password_instructions, :scope => [:simple_form, :actions, :submit, :user]),
                        :class => 'primary', :disable_with => t(:submitting)
    = button_tag t(:reset), :type => :reset, :class => "btn"

    %p.pull-right
      = link_to t("shared.topbar.sign_in"), signin_path
      |
      /= link_to t("shared.topbar.forget_password"), new_reset_password_path
      /|
      = link_to t("shared.topbar.sign_up"), signup_path
