%h2 Forgot your password?

= simple_form_for(@user, :url => reset_passwords_path, :html => { :method => :post }, :wrapper => :inline) do |f|

  = field_set_tag "" do
    = f.input :email, :required => true, :autofocus => true, :input_html => { :class => "span4" }

  .actions
    = f.button :submit, t(:send_me_reset_password_instructions, :scope => [:simple_form, :actions, :submit, :user]),
                        :class => 'primary', :disable_with => t(:submitting)
    = button_tag t(:reset), :type => :reset, :class => "btn"

    %p.pull-right
      = link_to t(:sign_in, :scope => [:web, :topbar]), signin_path
      /= link_to t(:forget_password, :scope => [:web, :topbar]), new_reset_password_path
      |
      = link_to t(:sign_up, :scope => [:web, :topbar]), signup_path

