!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "keywords", :content => "#{SiteConfig.q(:site_keywords)}"}
    = csrf_meta_tag

    = favicon_link_tag
    %title #{SiteConfig.q(:site_default_title)}

    = render "shared/stylesheets"

  %body
    = render "shared/topbar"

    .container
      = render "shared/breadcrumbs"
      = render "account/shared/navigation"
      = render "shared/flash", :flash => flash
      = yield

    = render "shared/javascripts"
    = render "shared/footer"
    = render "shared/modals_and_popovers"

