!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "keywords", :content => "#{Settings.web.head.meta.keywords}"}
    = csrf_meta_tag

    = favicon_link_tag
    %title #{Settings.web.head.title}

    = stylesheet_link_tag    "application"

  %body
    = render "shared/topbar"

    .container
      .row
        .span10.offset3
          = render "shared/flash", :flash => flash
          = yield

    = render "shared/footer"
    = render "shared/javascripts"
    = render "shared/modal"

